<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header class="bg-dark text-white text-center py-4">
    <h1>My Blog Legacy</h1>
</header>

<section class="container my-4">
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">About us</h2>
            <p class="card-text">My Tech Blog is your ultimate destination for all things tech. We offer up-to-date news, expert analysis, how-to guides, exclusive interviews, and an engaged community of technology enthusiasts. Join us as we explore the latest trends, unveil the latest products, and share valuable insights into the exciting world of technological innovation. Welcome to TechVerse, where technology meets inspiration!</p>
        </div>
    </div>
    <a href="/blog" class="btn btn-primary">Voltar</a>
</section>

<footer class="bg-dark text-white py-4 text-center fixed-bottom"> 
    <p>&copy; 2024 Meu Blog. Todos os direitos reservados.</p>
    <p>&copy; Harrison FX Legacy</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

