{% extends 'base.html' %}

{% block content %}

<section class="container my-4">
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">As maiores dúvidas sobre a área de Programação</h2>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur et nemo a delectus velit, aspernatur soluta explicabo repellat dolore ut consectetur ipsam iste aliquid eum atque veniam excepturi distinctio illum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem mollitia amet temporibus quibusdam deserunt recusandae ea eaque beatae voluptatibus quidem! Eveniet rerum temporibus veritatis officiis, ullam quaerat dolorum perferendis tenetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae eum minus cupiditate mollitia, nostrum culpa necessitatibus. Vel, culpa. Velit iure, voluptatibus quas molestias assumenda voluptate illo magnam tempora beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quibusdam id, libero placeat ratione laborum, molestias, quis corporis voluptatum consequatur deleniti doloribus atque explicabo minima recusandae saepe! Ducimus, deserunt sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum consequuntur tenetur saepe neque autem deleniti provident eligendi a veniam, nihil molestias, adipisci nemo necessitatibus nisi animi ea sint architecto. Voluptatibus.</p>
        </div>
    </div>
    <a href="/blog" class="btn btn-primary">Voltar</a>
</section>

{% endblock %}
