{% extends 'base.html' %}

{% block content %}

<section class="container my-4">
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">As maiores dúvidas sobre a área de Programação</h2>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur et nemo a delectus velit, aspernatur soluta explicabo repellat dolore ut consectetur ipsam iste aliquid eum atque veniam excepturi distinctio illum.s.</p>
        </div>
    </div>
    <a href="/blog" class="btn btn-primary">Voltar</a>
</section>

{% endblock %}
